In [1]:
import sqlite3
import pandas as pd
import time
import os
pd.set_option('display.width', 500)

In [2]:
insect_con = sqlite3.connect("indexd-insects-inaturalist-open-data-20220127.sq3db")
print(insect_con.total_changes)

0

In [ ]:
start_time = time.time()
taxon_df = pd.read_sql_query(
    "SELECT DISTINCT taxon_name, ancestry, extension "
    "FROM insects ",
    insect_con
)
print(taxon_df.head())
print("%d done in %.1f seconds" % (1, (time.time() - start_time)))

In [14]:
start_time = time.time()
os.makedirs('Species_CSVs', exist_ok=True)
for i in range(0, len(taxon_df)):
    sql = """SELECT photo_url_large, taxon_name, ancestry, extension  
             FROM insects 
             WHERE taxon_name = ? """
    photo_df = pd.read_sql_query(sql, insect_con, params=[taxon_df['taxon_name'][i]])
    
    path = 'Species_CSVs/' + taxon_df['taxon_name'][i] + '.csv'
    photo_df.to_csv(path, index=False)
    #print("%d/113935 in %.1f seconds" % (i+1, (time.time() - start_time)))

DatabaseError: Execution failed on sql 'SELECT photo_url_large, taxon_name, ancestry, extension
             FROM insects
             WHERE taxon_name = ? ': no such column: extension